<%- include('includes/header')%>
<div class="container reg-page">
<% if(locals.errors) { %>
<% errors.forEach(function(errors){%>
<div class="alert alert-danger"><%= errors.msg %></div>
<%})%>
<%}%>
<%- messages() %>
    <form method="post" action="/users/register" class="form-signin">
        <h2 class="form-signin-heading text-center">User Registration</h2>
        <label class="sr-only">Name</label>
        <input type="text" name="name" class="form-control" placeholder="Name" value="<%=(!!locals.name)?name:''%>" required autofocus>
        <br>
        <label class="sr-only">Email</label>
        <input type="text" name="email" class="form-control" placeholder="Email" value="<%=(!!locals.email)?email:''%>" required autofocus>
        <br>
        <label class="sr-only">Username</label>
        <input type="text" name="username" class="form-control" placeholder="Username" value="<%=(!!locals.username)?username:''%>" required autofocus>
        <br>
        <label  class="sr-only">Password</label>
        <input type="password" name="password" class="form-control" placeholder="Password" value="<%=(!!locals.password)?password:''%>" required>
        <label  class="sr-only">Confirm Password</label>
        <br>
        <input type="password" name="password2" class="form-control" placeholder="Confirm Password" value="<%=(!!locals.password2)?password2:''%>" required>
        <p>have Account?<a href ="/users/login">login</a></p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

</div> <!-- /container -->
<%-include('includes/footer')%>